APP_NAME=Название приложения. Это значение будет использоваться в вашем приложении.
ENVIRONMENT=Указывает на среду исполнения, например, production или development.
MONGODB_URL=URL подключения к MongoDB. Это подключение к контейнеру MongoDB, который запущен в Docker Compose.
MONGODB_NAME=Имя базы данных, с которой ваше приложение будет работать.
SECRET_KEY=Секретный ключ для вашего приложения. Он должен быть уникальным и безопасным.